.listHeading {
  color: #00e7ff;
  text-align: center;
  font-size: 35px;
}
.bottomSectionContainer {
  border: 2px solid #00e7ff;
  border-radius: 10px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #092e33;
}
.headerFlexEndContainer {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.cryptoType {
  margin: 10px;
  margin-left: 13px;
}
.cryptoUlList {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 10px;
  font-weight: bold;
}
